<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Проверка на обработку</title>
    <link rel="stylesheet" href="/item-checker/static/styles.css">

</head>
<body>
<div class="container">
    <h1>Введите Label IDs</h1>
    <form action="/item-checker/view" method="post">
        <textarea name="label_input" rows="5" cols="50" placeholder="Введите label_ids..."></textarea>
        <br><br>
        <button type="submit" class="btn">Показать детали</button>
    </form>
</div>
</body>
</html>
